<script lang="ts">
  import csv from './assets/negativos.json'

  let cardsList = []
  let cards = []
  let range = ""

  $: range, defineRange()

  const defineRange = () => {
    cardsList = []
    range.split(',').forEach(element => {
      if (/[0-9][0-9]*[ ]*-[ ]*[0-9][0-9]*/.test(element)) {
        const start = parseInt(element.split('-')[0]) <= parseInt(element.split('-')[1]) ? parseInt(element.split('-')[0]) : parseInt(element.split('-')[1])
        const end = parseInt(element.split('-')[0]) >= parseInt(element.split('-')[1]) ? parseInt(element.split('-')[0]) : parseInt(element.split('-')[1])
        for(let i = start; i <= end; i++) cardsList.push(i)
      } else if (parseInt(element)) cardsList.push(parseInt(element))
    })
    generateCards()
  }

  const generateCards = () => {
    cards = []
    cardsList.forEach(card => {
      const cardInfo = csv.filter(item => item['número do Envelope'] === card)[0]
      if(cardInfo) cards.push(cardInfo)
    })
  }
</script>

<nav style="display:flex; flex-direction: column; padding: 1rem; border-bottom: 1px solid #666; margin-bottom: 2rem; width: 47.8rem;">
  <h1 style="font-size: 1rem;">Gerador de Informações para Envelopes de Negativos - Centro de Memória de São Bernardo do Campo</h1>
  <p style="display:flex; align-items: center;">
    <input style="margin: 0 .5rem 0 0; width: 75%" type="text" bind:value={range} />
    {#if cards.length > 0}
    <button
      on:click={() => window.print()}
      style="margin-left: auto; padding: 0 1rem;">
      Imprimir
    </button>
    {/if}
  </p>
  <p style="margin-top: 0">
    <b>instruções: </b>Separe a numeração dos envelopes a serem impressos com vírgulas (ex: 1, 3, 195).<br />
    Para a impressão de números em sequência, marque a sequência com um travessão (ex: 3 - 8).<br />
    Ambos tipo de comandos podem ser misturados numa mesma solicitação (ex: 5-9, 35, 22-25).
  </p>
</nav>

<main style="display: flex; flex-flow: wrap; width: 100%;">
  {#if cards.length > 0}
  {#each cards as card}
  <section>
    <article>
      <div style="width: 3cm; margin-right: .2cm;">
        <h1 class="font-size: 1rem;"># {card['número do Envelope']}</h1>
        <h1 style="margin-top: 1rem;">Data</h1> {card['Data']}
        <h1>Qtde</h1> {card['Qtidade de negativos']} fotos
        <h1>Cromia</h1> {card['cromia']}
        <h1>Tamanho</h1> {card['tamanho']}
      </div>
      <div style="flex-grow: 1; margin-top: 2.4rem;">
        <h1>Assunto</h1>
        {card['Assunto']}
        <h1>Local</h1>
        {card['Local do evento']}
        <h1>Histórico</h1>
        {card['Histórico']}
      </div>
    </article>
  </section>
  {/each}
  {/if}
</main>

<style>
@font-face {
  font-family: "Lato";
  src: url("./assets/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/Lato-Bold.ttf");
  font-weight: bold;
}

@page {
  size: A4;
}

@page :left {
  margin-left: 4cm;
}

@page :right {
  margin-left: 4cm;
}

@page :top {
  margin-top: 4cm;
}

@page :bottom {
  margin-top: 4cm;
}

  * {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: .85rem;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: .2cm;
  }

  article {
    display: flex;
    border: 1px solid black;
    width: 9cm;
    height: 8.25cm;
    padding: .2cm;
    overflow: hidden;
  }

  h1 {
    margin-bottom: 0;
  }

  @media print
{
    nav, nav *
    {
        display: none !important;
    }

    section {
      min-width: 50%;
    }
}

</style>